[Desktop Entry]
Version=0.1
Name=Portable Camera
Comment=A GUI application for running a portable camera rig
Exec=python3 /home/nathan/Git/Portable_Camera/portable_gui.py
Icon=/home/nathan/Git/Portable_Camera/icon/camera.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;ImageProcessing;
